body {
    background-color: black;
    color: antiquewhite;
}

#cuadrado-azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.cuadrado-yellow {
    width: 50px;
    height: 50px;
    background-color: yellow;
}